:root {
  --actual-height: 100vh; /* this is wrong sometimes; actual pixels in view (minus menu bars etc.) is set by JS at window.onload */
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  --primary-bg-color: #eee;
  --primary-text-color: #222;
  --secondary-bg-color: #444;
  --secondary-text-color: #eee;
  --font-type: sans-serif;

  margin: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--font-type);
  overflow-x: hidden;
}

body.dark-theme {
  --primary-bg-color: #222;
  --primary-text-color: #bbb;
  --secondary-bg-color: #333;
  --secondary-text-color: #aaa;
}

header {
  height: var(--header-height);
  width: 100vw;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

#settings-toggle {
  align-self: stretch;
  width: var(--header-height);
  background-color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-toggle > img {
  width: 60%;
  height: 60%;
  opacity: 0.7;
  transition: transform 400ms ease, opacity 200ms ease;
  pointer-events: none;
}

#settings-toggle.open > img {
  transform: rotate(45deg);
  opacity: 1;
}

menu {
  position: absolute;
  top: var(--header-height);
  width: 100%;
  list-style-type: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  margin: 0;
  padding: 2rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  transform: translateX(100%);
  transition: transform 400ms ease;
}

menu.open {
  transform: none;
}

select {
  font-size: 1.25rem;
  padding: 0 1rem;
}

menu > li {
  display: flex;
  justify-content: space-between;
}

main {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#intro {
  padding: 1.5rem;
  line-height: 140%;
}
