:root {
  --actual-height: 100vh; /* this is wrong sometimes; actual pixels in view (minus menu bars etc.) is set by JS at window.onload */
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
}

body {
  --primary-bg-color: #eee;
  --primary-text-color: #222;
  --secondary-bg-color: #444;
  --secondary-text-color: #eee;
  --font-type: sans-serif;

  margin: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--font-type);
  max-width: 100vw;
}

body.dark-theme {
  --primary-bg-color: #222;
  --primary-text-color: #bbb;
  --secondary-bg-color: #333;
  --secondary-text-color: #aaa;
}

header {
  height: var(--header-height);
  width: 100vw;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

#settings-toggle {
  align-self: stretch;
  width: var(--header-height);
  background-color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-toggle > img {
  width: 60%;
  height: 60%;
  opacity: 0.7;
  transition: transform 400ms ease, opacity 200ms ease;
  pointer-events: none;
}

#settings-toggle.open > img {
  transform: rotate(45deg);
  opacity: 1;
}

menu {
  position: absolute;
  top: var(--header-height);
  width: 100%;
  list-style-type: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  margin: 0;
  padding: 2rem;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 400ms ease;
}

menu.open {
  transform: none;
}

select {
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

.form-row > select {
  padding: 0.5rem;
}

menu > li {
  display: flex;
  justify-content: space-between;
}

main {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

#intro {
  padding: 1.5rem;
  line-height: 140%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: opacity 300ms ease;
}

form.hidden {
  opacity: 0;
}

form > button {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.25rem;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-text-color);
  border-top: 0.25rem solid #00000044;
}
.form-row:last-child {
  border-bottom: 0.25rem solid #00000044;
}

.form-row > p {
  padding-right: 1rem;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3rem;
}

.toggle-groove {
  width: 4rem;
  height: 1rem;
  background-color: #88888855;
  border-radius: 1rem;
  pointer-events: none;
}
.toggle-knob {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  background-color: red;
  transform: translateX(-55%);
  display: flex;
  justify-content: center;
  align-items: center;
  
  pointer-events: none;
  transition: transform 200ms ease, background-color 200ms ease;
}

.toggle-knob::after {
  content: "NO";
  position: absolute;
  color: white;
  line-height: 0;
  font-size: 0.9rem;
}

.toggle.yes > .toggle-knob {
  background-color: green;
  transform: translateX(55%);
}

.toggle.yes > .toggle-knob::after {
  content: "YES";
}